.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.image-gallery .item {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  cursor: pointer;
  max-height: 120px;
  max-width: 120px;
}